/* Standradise fonts */

body {
  padding: 0;
  margin: 0;
  background-color: #eceee9;
}

body, p, a, .div {
  font-family: Roboto, sans-serif;
}

.btn-primary {
  background-color: #51c4ca;
  color: white;
  border-color: #51c4ca;
}

.btn-primary:hover,
.btn-check:focus+.btn-primary, 
.btn-primary:focus {
  background-color: #34a3a9;
  border-color: #34a3a9;
}

.btn-check:checked+.btn-primary, 
.btn-check:active+.btn-primary, 
.btn-primary:active, 
.btn-primary.active, 
.show>.btn-primary.dropdown-toggle {
  background-color: #34a3a9;
  border-color: #34a3a9;
}

.btn-primary.btn-login {
  display: block;
  width: 100%;
}

#buttonEye-password {
  position: absolute !important;
  margin-left: 0 !important;
  right: 10px !important;
  top: 10px !important;
}


/* .login-section form .form-input.form-control {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0.375rem 0.5rem;
}

.login-section form .form-input.form-control:focus {
  box-shadow: none;
} */

/* .login-section .login-btn {
  display: inline-block;
  background-color: #51c4ca;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
} */

.border-end {
  border-right: 1px solid #dee2e6 !important;
}

/* .btn-check:focus + .btn, .btn:focus, .form-check-input:focus {
  box-shadow: none;
} */

/* Standardise Fonts ends */

/* Header starts here */

header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
  z-index: 99999;
}

header .nav-item:hover {
  background-color: #ececec;
}

header .nav-link, header .nav-link:hover {
  font-weight: 500;
  font-size: 14px;
  color: #51c4ca !important;
  text-transform: uppercase;
}

/* Header ends here */

/* Main-section starts here */

.main-section .sidebar {
  position: sticky;
  top: 90px;
  background-color: #f9f9f9;
}

.sidebar .sidebar-content {
  padding: 10px;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-content .nav-item {
  width: 100%;
}

.nav-tabs .btn {
  font-size: 16px;
}

.nav-tabs .nav-link {
  padding: 0.5rem 1rem;
  border: none;
  color: rgba(0, 0, 0, 1);
}

.sidebar-content .nav-tabs .nav-link {
  padding: 1px;
}

.nav-tabs .nav-categories-tab.active, .nav-tabs .nav-applications-tab.active {
  color: #51c4ca;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  border-bottom: 3px solid #51c4ca;
}

.myTab .list-category, .myTab.nav-tabs {
  border: none;
  background-color: #f9f9f9;
}

.myTab .nav-link .form-check-label {
  color: rgba(0, 0, 0, 1);
}

.search-container {
  position: relative;
  margin: 10px 0;
}

.search-container img {
  height: 15px;
  position: absolute;
  left: 12px;
  top: 11px;
}

.search-container input[type=text] {
  box-shadow: none;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #dbdbdb;
  font-size: 16px;
  padding-left: 2.25em;
  outline: none;
  border-radius: 20px;
}

.sidebar-content .tab-content .checkbox-container {
  padding: 5px;
}

.form-check-input {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 1rem;
  box-shadow: none;
}

.form-check-label {
  font-size: 17px;
}

.form-check-input:checked {
  background-color: #51c4ca;
  border-color: #51c4ca;
}

/* Right Section */

.main-section .booster-list .tab-pane > div {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px, rgb(0 0 0 / 12%) 0px 1px 4px;
}

.main-section .booster-list .tab-pane > div .row {
  padding: 20px;
}

.main-section .booster-list .booster-image img {
  width: 163px;
  display: inline-block;
}

@media (max-width: 768px) {
  .main-section .booster-list .booster-image img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .main-section .booster-list .booster-image {
    text-align: center;
    padding-bottom: 10px;
  }
}

.main-section .booster-list .list-title {
  font-size: 18px;
  padding: 5px 0;
  line-height: normal;
}

.main-section .booster-list > div .btn {
  border: 2px solid #51c4ca;
  text-transform: uppercase;
  border-radius: 5px;
  color: #51c4ca;
}

.main-section .booster-list > div .btn:hover {
  /*background-color: #f7fdfd;*/
  color: #51c4ca;
}

/* Main-section ends here */

input[type=checkbox] {
  visibility: hidden;
}

.myTab .nav-item .form-check:before {
  background-image: url("../img/empty-box.png");
  content: "\A0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 20px;
  margin: 0 0.75em 0 0;
  padding: 0;
  vertical-align: top;
  width: 20px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.form-check, .checkbox-container, .myTab .nav-link {
  padding-left: 0 !important;
}

.myTab .nav-item .custom-checkbox .form-check:before {
  background-image: url('../img/true-img.png?v=1.1');
  color: #fff;
}

/* checkbox end */

/* Login page starts here */

.form-section {
  height: 100vh;
  background-color: #eceee9;
}

.form-section .reset-pw {
  color: #51c4ca;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding:0;
}

.form-section .terms-policy {
  font-weight: 500;
  line-height: 13px;
  font-size: 13px;
  text-transform: capitalize;
  color: #51c4ca;
  text-decoration: underline;
}

.form-section p{
  color:#939598;
}
.tandc {
  font-size: 14px;
}

/* Login page end here */

/* checkbox start */

